@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2f4;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.animate__animated.animate__fadeInLeft {
  --animate-delay: 6s;
  --animate-duration: 5s;
}
